.social-icons
  float: right
  li
    display: inline-block
    vertical-align: middle
    margin-right: 30px
    &:last-of-type
      margin-right: 0
.social-icons__svg
  display: block
  width: 27px
  height: 27px
  &.is-twitter
    height: 22px
